.contenedor{
    
display: flex;
    
}
.boton{
    width: 100px;
	height: 100px;
	margin-left: 100px;
    border: 4px solid black;
    cursor: pointer;
    
}
    
 
.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.amarillo{
background-color: yellow;
}

.blanco{
    background-color: white;
}