<h1>Hola soy la pagina de contacto</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vitae voluptas, voluptates corrupti laborum quasi magni voluptatem sequi temporibus facilis inventore totam cumque officiis fuga quidem eaque possimus mollitia assumenda.</p>
\