<h1>Hola soy la pagina de Galeria</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut blanditiis odio rem sequi. Iure atque totam harum consectetur tempora sint quis voluptatum dolor, corporis iusto sapiente enim neque id quod!</p>
