<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="galeria">Galeria</a></li>
        <li><a href="nosotros">Nosotros</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
