    
 <h1>GALERIA DE FOTOS</h1>

    <span class="linea"></span>
    <section class="galeria">
      <a href="#galeria1">
        <img src="images/galeria1.jpg" alt="" />
      </a>
      <a href="#galeria2">
        <img src="images/galeria2.jpg" alt="" />
      </a>
      <a href="#galeria3">
        <img src="images/galeria3jpg.jpg" alt="" />
      </a>
      <a href="#galeria4">
        <img src="images/galeria4.jpg" alt="" />
      </a>
      <a href="#galeria5">
        <img src="images/galeria5.jpg" alt="" />
      </a>
      <a href="#galeria6">
        <img src="images/galeria6.jpg" alt="" />
      </a>
    </section>

    <article class="light-box" id="galeria1">
      <a href="#galeria6" class="next"><i class="fa-solid fa-circle-arrow-left"></i></a>
      <img src="images/galeria1.jpg" alt="" >
      <a href="#galeria2" class="next"><i class="fa-solid fa-circle-arrow-right"></i></a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="galeria2">
      <a href="#galeria1" class="next"><i class="fa-solid fa-circle-arrow-left"></i></a>
      <img src="images/galeria2.jpg" alt="" >
      <a href="#galeria3" class="next"
        ><i class="fa-solid fa-circle-arrow-right"></i></a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="galeria3">
      <a href="#galeria2" class="next"><i class="fa-solid fa-arrow-left"></i></a>
      <img src="images/galeria3jpg.jpg" alt="" >
      <a href="#galeria4" class="next"
        ><i class="fa-solid fa-arrow-right"></i
      ></a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="galeria4">
      <a href="#galeria3" class="next"><i class="fa-solid fa-arrow-left"></i></a>
      <img src="images/galeria4.jpg" alt="" >
      <a href="#galeria5" class="next"
        ><i class="fa-solid fa-arrow-right"></i
      ></a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="galeria5">
      <a href="#galeria4" class="next"><i class="fa-solid fa-arrow-left"></i></a>
      <img src="images/galeria5.jpg" alt="" >
      <a href="#galeria6" class="next"
        ><i class="fa-solid fa-arrow-right"></i
      ></a>
      <a href="#" class="close">X</a>
    </article>

    <article class="light-box" id="galeria6">
      <a href="#galeria5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
      <img src="images/galeria6.jpg" alt="" >
      <a href="#galeria1" class="next"
        ><i class="fa-solid fa-arrow-right"></i
      ></a>
      <a href="#" class="close">X</a>
    </article>
