<h1>GALERIA DE FOTOS</h1>

<span class="linea"></span>
<section class="galeria">
 <a href=".hbs" src="#galeria1">
 <img src="images/galeria1.jpg" alt="">
 </a>   
<a href=".hbs" src="#galeria2">
 <img src="images/galeria2.jpg" alt="">
 </a>   
<a href=".hbs" src="#galeria3">
 <img src="images/galeria3.jpg" alt="">
 </a>   
<a href=".hbs" src="#galeria4">
 <img src="images/galeria4.jpg" alt="">
 </a>   
<a href=".hbs" src="#galeria5">
 <img src="images/galeria5.jpg" alt="">
 </a>   
<a href=".hbs" src="#galeria6">
 <img src="images/galeria6.jpg" alt="">
 </a>   
</section>