.contenedor{
	background-color: blue;
	display: inline-flex;
	 flex-wrap: nowrap; 
	/*flex-wrap: wrap;*/ 
	/* flex-wrap: wrap-reverse;*/ 
}

.item{
	background-color: #ccc;
	width: 300px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}