.contenedor{
	background-color: blue;
	display: inline-flex;
	flex-direction: row;
	/*flex-direction: row-reverse; */
	/*flex-direction: column;*/
	/*flex-direction: column-reverse;*/

}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
		}
